

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: calc( (100vw - 1rem)/90);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}


html *::-webkit-scrollbar {
  height: 1vh;
  width: 2vh;
}

*::-webkit-scrollbar-track {
  background: rgb(196, 196, 196);
}

html *::-webkit-scrollbar-thumb {
  background-color: #2a556c;
  border-radius: 5px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

