.admin-page-container {
    margin-top: 5%;
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 140vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color:#2a556c;
}

.admin-page-table {
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    table-layout: fixed;
    background-color: white;
    box-shadow: -11px -6px 37px 3px rgba(34, 60, 80, 0.2);
    text-align: left;
    border-spacing: 0;
    font-size: 3vh;
}


.admin-page-table td {
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin: 0;
    border-width: 0px 0px 1px 1px;
    border-color: grey;
    border-style: solid;
    overflow-x: auto;
}

.admin-page-button {
    padding: 2%;
    width: 80%;
    height: 60%;
    font-size: 3vh;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
    text-align: start;
    color: white;
    border-radius: 5px;
    background-color: rgb(172, 8, 8);
    transition: transform .1s linear;
}

.admin-page-button:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.admin-page-button:active {
    transform: translateY(+3px);
}
.admin-page-input {
    padding-top: 5%;
    border: none;
    width: 90%;
    color: #2a556c;
    font-size: inherit;
}

.admin-page-input:focus {
    outline: none;
}