.admin-page-container {
    margin-top: 5%;
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 140vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color:#2a556c;
}

.admin-page-table {
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    table-layout: fixed;
    background-color: white;
    box-shadow: -11px -6px 37px 3px rgba(34, 60, 80, 0.2);
    text-align: left;
    border-spacing: 0;
    font-size: 3vh;
}


.admin-page-table td {
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    margin: 0;
    border-width: 0px 0px 1px 1px;
    border-color: grey;
    border-style: solid;
    overflow-x: auto;
}

.admin-page-button {
    padding: 2%;
    width: 80%;
    height: 60%;
    font-size: 3vh;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
    text-align: start;
    color: white;
    border-radius: 5px;
    background-color: rgb(172, 8, 8);
    transition: transform .1s linear;
}

.admin-page-button:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.admin-page-button:active {
    transform: translateY(+3px);
}

.admin-page-input {
    padding-top: 5%;
    border: none;
    width: 90%;
    color: #2a556c;
    font-size: inherit;
}

.admin-page-input-invalid{
    margin-top: 2%;
    outline:none;
    height: 2vmax;
    width: 100%;
    border: none;
    font-size: calc( (100vw - 1rem)/70);
    font: weight 100px;
    font-family: 'Scada';
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.admin-page-input-invalid:focus {
    outline: none;
}

.admin-page-input:focus {
    outline: none;
}

.admin-page-invalid-message {
    margin: 1%;
    font-size: calc( (100vw - 1rem)/80);
    color: #dc3545;
}

.admin-page-button-submit {
    margin-top: 2%;
    padding: 1% 2% 1% 2%;
    background-color: #F8BC48;
    color: #2F3C43;
    border: none;
    font-size: calc( (100vw - 1rem)/70);
    font-weight: bold;
    font-family: 'Scada',  sans-serif;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.admin-page-button-submit:hover {
    background-color: #2a556c;
    color: white;
}

.admin-page-button-submit:active {
    transition: all .1s ease-in-out;
    background-color: #F8BC48;
    color: #2F3C43;
    
}