.profile-page-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 140vh;
    align-items: center;
    justify-content: center;
    color:#2a556c;
}

.profile-page-container h1 {
    font-size: calc( (100vw - 1rem)/40);
}

.profile-page-column-1 {
    padding-left: 5%;
    height: inherit;
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-page-column-2 {
    display: flex;
    flex: 0 0 50%;
    height: inherit;
}