.profile-page-container {
    margin-top: 5%;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    color:#2a556c;
}

.profile-page-container h1 {
    font-size: calc( (100vw - 1rem)/40);
}

.profile-page-column-1 {
    margin-top: 5%;
    padding-left: 5%;
    display: flex;
    flex: 0 0 40%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-page-column-2 {
    margin-top: 5%;
    display: flex;
    flex: 0 0 60%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-page-table {
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    table-layout: fixed;
    background-color: #2a556c;
    box-shadow: -11px -6px 37px 3px rgba(34, 60, 80, 0.2);
    text-align: center;
    border-spacing: 0;
    font-size: 3vh;
    color: white;
}

.profile-page-table td {
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    overflow-x: auto;
}

.profile-page-table td::-webkit-scrollbar-track {
    background: rgb(196, 196, 196);
    border-radius: 5px;
}
  
.profile-page-table td::-webkit-scrollbar-thumb {
  background-color: #F8BC48;
  border-radius: 5px;
}

.profile-page-table tr:hover {
    transition: all .2s linear;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.profile-page-button {
    padding: 2%;
    width: 80%;
    height: 60%;
    font-size: 3vh;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: rgb(172, 8, 8);
    transition: transform .1s linear;
}

.profile-page-button:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.profile-page-button:active {
    transform: translateY(+3px);
}

