.profile-page-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-height: 140vh;
    align-items: center;
    justify-content: center;
    color:#2a556c;
}

.profile-page-container h1 {
    font-size: calc( (100vw - 1rem)/40);
}

.profile-page-column-1 {
    padding-left: 5%;
    height: inherit;
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-page-column-2 {
    display: flex;
    flex: 0 0 50%;
    height: inherit;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.profile-page-table {
    border-radius: 10px;
    padding: 3%;
    width: 100%;
    background-color: #2a556c;
    color: white;
}

.profile-page-table button:after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: orange;
    transform-origin: right top;
}

.profile-page-button {
    height: 60%;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
    text-align: start;
}

.profile-page-button:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.15);
    background: rgba(0,0,0,.20);
}

.profile-page-button:after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scale(0, 1);
    transition: transform 0.4s;
    background: orange;
    transform-origin: right top;
}

.profile-page-button:hover:after {
    transform: scale(1, 1);
    transform-origin: left top;
}