.container-header-image {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(../../img/main_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    color: #fff;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 85%;
    width: 40%;
    padding-left: 2%;
}  

.header-title h1 {
    font-family: 'Roboto-Bold',  sans-serif;
    margin-bottom: 1%;
}

.header-title h2 {
    font-family: 'Roboto-Medium',  sans-serif;
    margin-top: 3%;
    margin-bottom: 0;
}

.btn-container {
    align-items: center;
    flex: 1 1 10%;
    padding: 2%;
    width: auto;
    min-width: 50px;
}

.btn {
    padding: 0.5% 2% 0.5% 2%;
    height: 70%;
    font-size: calc( (100vw - 1rem)/90);
    background-color: #F8BC48;
    color: #2F3C43;
    border: none;
    font-size: calc( (100vw - 1rem)/90);
    font-weight: bold;
    font-family: 'Roboto',  sans-serif;
    border-radius: 4px;

}

.btn:hover {
    background-color: #ac883b;
}

@media screen and (max-width: 650px) {
    .container-header-image {
        height: 90vh;
        font-size: calc( (400vw - 1rem)/90);
        text-align: center;
    }

    .header-title {
        width: 95%;
    }  

    .btn-container {
        flex: 1 1 20%;
        padding: 6%;
    }
    .btn {
        font-size: calc( (800vw - 1rem)/90);
        padding: 5% 10% 5% 10%;
        border-radius: 15px;
    }
}
