.color-filter-container {
    padding: 15px;
    width: 80%;
    background-color: #2A556C;
    color: white;
    border-radius: 15px;
}

.color-filter-color-container {
    display: flex;
    justify-content:baseline;
    flex-wrap: wrap;
}

.color-filter-color-container > div {
    margin: 5px;
}

.color-filter-checker {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;


}

.color-filter-circle:target > div{
    background: red;
    z-index: 1;
}

.color-filter-circle {
    width: 40px;
    height: 40px;
    background: #83A7C9;
    border-radius: 50%;
    display: inline-block;
}